#Landing {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .Landing-wrapper {
        margin-bottom: 3rem;
        font-family: "Raleway", sans-serif;
        color: #fff;
        text-align: center;
        
        h1 {
            font-size: 2.3rem;
        }

        p {
            font-size: 1.1rem;
            font-weight: 500;
            margin-top: 0.25rem;
        }

        .landing-btn-cnt {
            margin-top: 1rem;
            
            a {
                color: #fff;
                text-decoration: none;
                font-size: 0.9rem;
                border: 2px solid #fff;
                padding: 0.5rem 0.75rem;
                display: inline-block;
                transition: all 0.3s ease-in-out;

                &:nth-child(n+2) {
                    margin-left: 0.5rem;
                }

                &:hover {
                    background: #fff;
                    color: #000;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #Landing {
        height: 90vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .Landing-wrapper {
            margin-bottom: 3rem;
            font-family: "Raleway", sans-serif;
            color: #fff;
            text-align: center;
            
            h1 {
                font-size: 3rem;
            }
    
            p {
                font-size: 1.3rem;
                font-weight: 500;
                margin-top: 0.25rem;
            }
    
            .landing-btn-cnt {
                margin-top: 1rem;
                
                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 1rem;
                    border: 2px solid #fff;
                    padding: 0.5rem 0.75rem;
                    display: inline-block;
    
                    &:nth-child(n+2) {
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
}